<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name ="ConnectionString" connectionString="Server=.\\SQLEXPRESS;Database=LibraryManagerDb;Trusted_Connection=True"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>